* {
  padding: 0;
  margin: 0;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  margin-top: 10px;
  border-radius: 15px;
  width: 90%;
  margin-left: 15px;
  box-shadow: 15px 15px 15px black;
  height: 250px;
}
.top {
  display: flex;
  justify-content: center;
  width: 450%;
  margin-bottom: 10px;
}
hr {
  width:auto;
}